/* -----------------------------------------------------------------------------
// 16. BLOG GRID
// ----------------------------------------------------------------------------- */
.blog-grid .blog-widget i {
	display: inline-block;
	margin-right: 5px;
	color: #484747;
}