/* -----------------------------------------------------------------------------
// 18. SITE MAP
// ----------------------------------------------------------------------------- */
.site-map {
	.list-chevron.nested {
		margin-top: 10px;
		margin-left: 15px;

		&.deep {
			margin-left: 25px
		}

		li {
			&:before {
				background-color: #d0d0d0;
			}

			&:hover:before {
				background-color: #7dbd22;
			}

			a {
				color: #a3a2a2;
			}

			&:hover a {
				color: #484747;
				text-decoration: none;
			}
		}
	}
}